/* Add a gray background color to the top navigation  */
.topnav {
    background-color: white;
    overflow: hidden;
    width: 95%;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
	border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 18px;
}  

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #f2f2f2;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: black;
}

/* The wrapper holds both the navigation div and the content div 
   This is mostly just for sanity checking*/
.wrapper {
	overflow: hidden;
	width: 95%;
    margin-top: 30px;
	margin-left: 2.5%;
}

/* style the navigation sidebar on the left hand side */
.sidenav {
    border-radius: 5px;
    float: left;
    background-color: #f2f2f2;
    width: 25%;
    padding: 0px 2% 10px 2%;
    margin-right: 1.5%;
}

/* style the main content area on the right */  
.content {
	border-radius: 5px;
    float: left;
    background-color: #f2f2f2;
    width: 64%;
    padding: 0px 2% 10px 2%;
    margin-left: 1.5%;
}

/* Style the buttons in the navigation sidebar */
	
.btn-group a:hover {
  background-color: #cdcdcd;
  border-color: #cdcdcd;
}
.btn-group a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    background-color: white;
    padding: 3px 10px;
    border: none;
    border-color: white;
    border-radius: 5px;
    margin: 2px;
    text-align: left;
    width: 85%;
    display: block;
}
/* style the secondary menu for selecting individual projects */
.tile_menu {
    padding: 15px;
    width: 200px;
    border-radius: 5px;
    border: solid white;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 20px;
    float: left;
}

.tile_menu_text a {
    text-decoration: none;
    color: black;
    padding: 15px;
    margin: 0 auto;
}

	
	
	
	
	
	
	
	